<!DOCTYPE HTML>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="/static/css/style_pc.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/style_sp.css">
	<title>駄菓子ガチャでお買い物計算</title>

<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.fadethis.min.js"></script>
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script type="text/javascript" src="/static/js/common.js"></script>

</head>

<body class="gacha">

	{% block content %}

	{% endblock %}

    <footer>
		<p class="copyright">Copyright &copy; DEMO all rights reserved.</p>
	</footer>

</body>

</html>
