{% extends 'base.html' %}

{% block content %}

<header id="sec1">
    <h1>おかいものけいさん</h1>
</header>

<article id="sec2">

    <h1>おかいものをして、おつりをうけとろう！</h1>
    <div class="flex-item3">
        <p>おみせのひとにわたすおかね 
            <input type="number" value="{{money}}" name="c-money" >円
        </p>
        <p></p>
        <p>かうもののねだん
            <input type="number" value="{{total}}" name="c-total" >円
        </p>

    </div>

    <a href="#return" class="btn-flat-double-border">▶︎おつりをけいさん！</a>

    <h1 id="return">うけとるおつりは・・・？</h1>

        <div class="flex-item3">
            <p>おつりは</p>
            <p>   ● 円</p>
            <p> - ● 円</p>
            <p> --------</p>
            <p> ●円</p>
        </div>

        <div class="flex-item3">
            <p>⑩ ⑩</p>            
            <img  class="trayImg" src="../static/img/tray.png" alt="トレイ画像">
        </div>

   
    <a href="../" class="btn-flat-double-border">▶︎もういちど、ガチャをまわす！</a>

</article>



{% endblock %}