{% extends 'base.html' %}

{% block content %}

	<header id="sec1">
		<h1>ガチャまわしたよ</h1>
	</header>

	<article id="sec2">
	
		<h1>100円玉を なんこ つかう？</h1>
		<img src="../static/img/gacha.png" alt="ガチャ画像">

		<div class="flex-container">
			<a href="/gacha/100">
				<div class="flex-item" id="100">
					<img class="yen100" src="/static/img/100en.png" alt="100">
				</div>
			</a>
			<a href="/gacha/200">
				<div class="flex-item" id="200">
					<img class="yen100" src="/static/img/100en.png" alt="100">
					<img class="yen100" src="/static/img/100en.png" alt="100">
				</div>
			</a>
			<a href="/gacha/300">
				<div class="flex-item" id="300">
					<img class="yen100" src="/static/img/100en.png" alt="100">
					<img class="yen100" src="/static/img/100en.png" alt="100">
					<img class="yen100" src="/static/img/100en.png" alt="100">
				</div>
			</a>
		</div>

		<h1> {{ money }} 円で かえるおかしは・・・</h1>
	
		<div class="flex-container2">
			<div class="flex-item2">
                <!-- <p> {{  item  }} {{  price  }}円</p>
				<p> {{  img  }} {{  count  }}個</p> -->
                <p> うまいぼう  {{  ci1  }}個 X １０円 = {{  sumi1  }}円</p>
                {% for i in list1 %}
                    <img class="foodImg" src="/static/img/img001.png" alt="うまいぼうimg">
                {% endfor %}

                <p> ブラックサンダー   {{  ci2  }}個 X ３０円 = {{  sumi2  }}円</p>
                {% for i in list2 %}
                    <img class="foodImg" src="/static/img/img002.jpg" alt="ブラックサンダーimg">
                {% endfor %}

                <p> ココアシガレット   {{  ci3  }}個 X ３０円 = {{  sumi3  }}円</p>
                {% for i in list3 %}
                    <img class="foodImg" src="/static/img/img003.png" alt="ココアシガレットimg">
                {% endfor %}

                <p> ガリガリくん   {{  ci4  }}個 X ７５円 = {{  sumi4  }}円</p>
                {% for i in list4 %}
                    <img class="foodImg" src="/static/img/img004.jpg" alt="ガリガリ君img">
                {% endfor %}

                <p> ハーゲンダッツ {{  ci5  }}個 X ２７５円 = {{  sumi5  }}円</p>
                {% for i in list5 %}
                    <img class="foodImg" src="/static/img/img005.jpg" alt="ハーゲンダッツimg">
                {% endfor %}
                                
				<!--↑こいつを複製したい-->
			</div>
		</div>

		<div class="flex-container2">
			<div class="flex-item2">
                おかしは ぜんぶで              
				<p>   {{  sumi1  }}円</p>
				<p>   {{  sumi2  }}円</p>
				<p>   {{  sumi3  }}円</p>
				<p>   {{  sumi4  }}円</p>
				<p> + {{  sumi5  }}円</p>
				<p> --------</p>
				<p> {{  total  }}円</p>
			</div>

			<div class="flex-item2">
                おつりは
				<p>    {{ money }} 円</p>
				<p>  - {{ total }} 円</p>
				<p> ---------------</p>
				<p>   {{ budget }} 円</p>

			</div>
		</div>


        <h1>おつりもどうぞ！</h1>

        <img  class="trayImg" src="{{tray_image}}" alt="トレイ画像">
<!--         
		<img  class="trayImg" src="../static/img/tray.png" alt="トレイ画像">
		<img  class="trayImg" src="../static/img/tray5yen.png" alt="トレイ画像">
 -->
		<a href="/calc" class="btn-flat-double-border">▶︎こっちでおかいもののけいさんもできるよ！</a>

	</article>

{% endblock %}