{% extends 'base.html' %}

{% block content %}

	<header id="sec1">
		<h1>おかしでさんすう ガチャまわったよ</h1>
	</header>

	<article id="sec2">
	
		<h1>おかしガチャで100円玉なんこ使う？</h1>
		<img src="../static/img/gacha.png" alt="ガチャ画像">

		<div class="flex-container">
			<div class="flex-item">
				<img src="/static/img/100en.png" alt="100">
			</div>
			<div class="flex-item">
				<img src="/static/img/100en.png" alt="100">
				<img src="/static/img/100en.png" alt="100">
			</div>
			<div class="flex-item">
				<img src="/static/img/100en.png" alt="100">
				<img src="/static/img/100en.png" alt="100">
				<img src="/static/img/100en.png" alt="100">
			</div>
		</div>

		<h1> {{ money }} 円でかえるおかしは・・・</h1>
	
		<div class="flex-container2">
			<div class="flex-item2">
				<p> 商品名 × ●円</p>
				<p> 商品画像 × ●個</p>
				<p> 商品名 × ●円</p>
				<p> 商品画像 × ●個</p>
			</div>
		</div>

		<div class="flex-container2">
			<div class="flex-item2">
				おかしは
				<p>   ● 円</p>
				<p> + ● 円</p>
				<p> --------</p>
				<p> ●円</p>

			</div>

			<div class="flex-item2">おつりは
				<p>   ● 円</p>
				<p> - ● 円</p>
				<p> --------</p>
				<p> ●円</p>

			</div>
		</div>


		<h1>おつりもどうぞ！</h1>
		<img  class="trayImg" src="../static/img/tray.png" alt="トレイ画像">

		<a href="/calc" class="btn-flat-double-border">▶︎こっちでおかいもののけいさんもできるよ！</a>

	</article>

{% endblock %}